[submodule "auto-message"]
    path = auto-message
    url = https://github.com/XDean/auto-message
[submodule "checker"]
    path = checker
    url = https://github.com/XDean/deannotation-checker